apiVersion: apps/v1
kind: Deployment
metadata:
  name: contact-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: contact
  template:
    metadata:
      labels:
        app: contact
    spec:
      containers:
      - name: contact
        image: yasminech123/contact-service:latest
        ports:
        - containerPort: 5002
        securityContext:
          runAsNonRoot: true
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
---
apiVersion: v1
kind: Service
metadata:
  name: contact-service
spec:
  selector:
    app: contact
  ports:
    - protocol: TCP
      port: 5002
      targetPort: 5002
      nodePort: 30003
  type: NodePort
